#container {
	width: 100%;
	height: 100%;
}

#header {
	display: block;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

#aside {
	text-align: center;
	display: inline-block;
	width: 20%;
	height: calc(100% - 136px);
	vertical-align: top;
	border-right: 1px solid rgba(0,0,0,0.05);
}
#aside ul {
	list-style-type: none;
}

#aside ul li {
	padding-top: 5px;
	padding-bottom: 5px;
}

#aside ul li a {
	color: #000;
	text-decoration: none;
}

#main-content {
	display: inline-block;
	width: 80%;
	height: calc(100% - 136px);
}

#main-content-iframe {
	width: 100%;
	height: 100%;
	border: 0;
}